.background    { background: black;
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { cellpadding: 0;          }
.lava          { background-image:url(grease.png); }
.wall          { background-image:url(wallTest.png);   }
.saw		   { background-image:url(saw.gif);   }

.actor  { position: absolute;  }
.coin   { background-image:url(pizza.png) ; }
.player { background-image:url(player1.png); }


.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background-image:url(deadPlayer.png);
}

.sawLost .player {
	background-image:url(deathBySaw.png);
}
.won .player {
  background-image:url(playerWin.png);
  box-shadow: -4px -7px 8px green, 4px -7px 8px green;
}
